<h1>Item Info</h1>
<%= form_for(@record) do |f| %>
  <%= f.hidden_field :owner_id, :value => current_user.id %>
  <div class="field">
    <%= f.label 'Item name' %><br>
    <%= f.label @record[:name] %>
  </div>
  <div class="field">
    <%= f.label 'Item quantity' %><br>
    <%= f.label @record[:quantity] %>
  </div>
  <div class="field">
    <%= f.label 'Item price' %><br>
    <%= f.label @record[:price] %>
  </div>
  <div class="field">
    <%= f.label 'Item description' %><br>
    <%= f.label @record[:description] %>
  </div>
  <div class="actions">
    <%= link_to "edit", "item_read/#{@record.id}" %>
  </div>
  </br>
  <%= link_to "Back", item_managements_item_query_path%>
<%end%>
